## Observations and Insights

In [46]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
combined_df = pd.merge(mouse_metadata, study_results, on="Mouse ID")

# Display the data table for preview
combined_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [47]:
# Checking the number of mice.
unique_mice = len((combined_df["Mouse ID"]).unique())
unique_mice

249

In [48]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
duplicate_id = combined_df.loc[combined_df.duplicated(subset=['Mouse ID', 'Timepoint']), "Mouse ID"].unique

print(duplicate_id)

<bound method Series.unique of 909    g989
911    g989
913    g989
915    g989
917    g989
Name: Mouse ID, dtype: object>

In [49]:
# Optional: Get all the data for the duplicate mouse ID.

In [53]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
# https://thispointer.com/python-pandas-how-to-drop-rows-in-dataframe-by-conditions-on-column-values/
indexNames = combined_df[combined_df["Mouse ID"] == "g989"].index
combined_df.drop(indexNames, inplace = True)
combined_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [55]:
# Checking the number of mice in the clean DataFrame.
unique_mice_clean = len((combined_df["Mouse ID"]).unique())
unique_mice_clean

248

## Summary Statistics

In [79]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
tumor_vol_mean = (combined_df['Tumor Volume (mm3)'].mean())
tumor_vol_med = (combined_df['Tumor Volume (mm3)'].median())
# https://www.datasciencemadesimple.com/variance-function-python-pandas-dataframe-row-column-wise-variance/
tumor_vol_var = (combined_df['Tumor Volume (mm3)'].var())
# https://www.datasciencemadesimple.com/standard-deviation-function-python-pandas-row-column/
tumor_vol_stdev = (combined_df['Tumor Volume (mm3)'].std())
# https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html
tumor_vol_sem = (st.sem(combined_df["Tumor Volume (mm3)"]))

tumor_vol_df = pd.DataFrame({"Tumor Volume Mean": [tumor_vol_mean],
                            "Tumor Volume Median": [tumor_vol_med],
                            "Tumor Volume Variance": [tumor_vol_var],
                            "Tumor Volume Std Dev": [tumor_vol_stdev],
                            "Tumor Volume SEM": [tumor_vol_sem]})

# tumor_vol_df.style.format({"Tumor Volume Mean": "{:.2f}"})
tumor_vol_df

,Tumor Volume Mean,Tumor Volume Median,Tumor Volume Variance,Tumor Volume Std Dev,Tumor Volume SEM
0,50.435293,48.933454,79.462907,8.914197,0.205591

In [80]:
# This method is the most straighforward, creating multiple series and putting them all together at the end.
st.describe(combined_df["Tumor Volume (mm3)"])

DescribeResult(nobs=1880, minmax=(22.05012627, 78.56701362), mean=50.43529323225532, variance=79.46290714557323, skewness=0.3012677175349431, kurtosis=0.030488631190233484)

In [8]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method produces everything in a single groupby function

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pandas.

In [10]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen